.inline-code::before,
.inline-code::after {
  content: none;
}

.inline-code {
  color: var(--vscode-textPreformat-foreground);
  background-color: var(--vscode-textPreformat-background);
}

.code-block code {
  background-color: transparent !important;
}
