@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: oklch(0.982 0.005 95.099);
  --foreground: oklch(0.344 0.027 95.723);
  --card: oklch(0.982 0.005 95.099);
  --card-foreground: oklch(0.191 0.002 106.586);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.267 0.02 98.939);
  --primary: oklch(0.59 0.124 43.79);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.925 0.014 92.989);
  --secondary-foreground: oklch(0.433 0.018 98.605);
  --muted: oklch(0.934 0.015 90.239);
  --muted-foreground: oklch(0.514 0.008 88.691);
  --accent: oklch(0.925 0.014 92.989);
  --accent-foreground: oklch(0.267 0.02 98.939);
  --destructive: oklch(0.191 0.002 106.586);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.885 0.007 97.363);
  --input: oklch(0.762 0.016 98.353);
  --ring: oklch(0.59 0.124 43.79);
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
  --sidebar: oklch(0.966 0.008 98.879);
  --sidebar-foreground: oklch(0.359 0.005 106.652);
  --sidebar-primary: oklch(0.59 0.124 43.79);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.925 0.014 92.989);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.928 0 0);
  --sidebar-ring: oklch(0.59 0.124 43.79);
  --font-sans: Adamina, ui-serif, serif;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1), 0 1px
    2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1), 0 1px 2px
    -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1), 0 2px
    4px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1), 0 4px
    6px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1), 0 8px
    10px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(from var(--shadow-color) r g b / 0.1);
  --spacing: 0.25rem;
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.268 0.004 106.643);
  --foreground: oklch(0.807 0.014 93.014);
  --card: oklch(0.268 0.004 106.643);
  --card-foreground: oklch(0.982 0.005 95.099);
  --popover: oklch(0.308 0.004 106.604);
  --popover-foreground: oklch(0.921 0.004 106.478);
  --primary: oklch(0.672 0.131 38.756);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.982 0.005 95.099);
  --secondary-foreground: oklch(0.308 0.004 106.604);
  --muted: oklch(0.221 0.004 106.707);
  --muted-foreground: oklch(0.771 0.017 99.066);
  --accent: oklch(0.213 0.008 95.424);
  --accent-foreground: oklch(0.966 0.008 98.879);
  --destructive: oklch(0.579 0.185 25.08);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.362 0.01 106.893);
  --input: oklch(0.434 0.011 100.22);
  --ring: oklch(0.785 0.129 39.49);
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --sidebar: oklch(0.236 0.002 67.708);
  --sidebar-foreground: oklch(0.807 0.014 93.014);
  --sidebar-primary: oklch(0.672 0.131 38.756);
  --sidebar-primary-foreground: oklch(0.988 0 0);
  --sidebar-accent: oklch(0.168 0.002 106.618);
  --sidebar-accent-foreground: oklch(0.807 0.014 93.014);
  --sidebar-border: oklch(0.313 0 0);
  --sidebar-ring: oklch(0.785 0.129 39.49);
  --shadow-color: oklch(0 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Adamina, ui-serif, serif;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@source "../../../node_modules/@daveyplate/better-auth-ui";
